.modal {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #2f3133, $alpha: 0.99);
  color: #fff;
  transition:all .4s;
  &--active {
    left: 0;
    opacity: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 9px 35px 30px 3%;
    align-items: center;
    width: 94%;
  }
  &__logo {
    height: 72px;
  }
  
  &__close {
      width: rem(18px);
      height: rem(18px);
      position: relative;
      &::after,&::before {
        content: '';
        display: block;
        position: absolute;
        width: rem(2px);
        height: rem(18px);
        background-color:#c1c2c2;
      }
        &::before {
          left: rem(12px);
          transform: rotate(-45deg);
        }
        &::after {
          right: rem(4px);
          transform: rotate(45deg);
        }
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__item {
    font-size: 24px;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .menu__link {
      margin: 13px;
    }

  }
}

.body--active-menu{
  overflow:hidden;
}




