.scroll-left, .scroll-right {
  max-width: rem(20px);
  max-height: rem(30px);
  padding-bottom: rem(31px);
}

.scroll-left {
  padding-right: rem(30px);
  margin-left: rem(15px);
}

.scroll-right {
  padding-left: 19px;
  margin-right: rem(25px);
  
}